<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/sgtquezada">Roberto Q</a> An aspiring web developer looking to build awesome apps!
  </p>
  <br />
  <p>
    Raised in Boston but now residing in beautiful Las Vegas, Roberto is on a mission to build beautiful and useful applications.
  </p>
  <p>
    If you want to learn more about me visiting my <a target="_blank" href="http://sgtquezada.github.io/"> page</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
   <%= image_tag 'roberto_pic.jpg', :class => 'img-responsive' %>
 </div>

 <div class="col-xs-12 col-sm-7 col-sm-offset-1">
     <h2 class="text-center">Roberto Quezada</h2>
     <br />
     <p>
       Roberto is currently an IT Application Support manager.  He has been in IT Operations/Application Support for the past 10 years supporting medium and large web enterprise applications.
       He has built in-house web apps such as a template-driven notification tool to support the service desk. He is passionate about the web and is looking to migrate to web development full time.
     </p>
   </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
